.section-customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers-list {
    display: flex;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;

    border: 1px solid $customers-link-color;
    border-radius: 4px;

    transition: border-color $time-hover cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: $accent-color;
        cursor: pointer;
    }
}

.customers-link-pic {
    display: block;
    fill: $customers-link-color;

    transition: fill $time-hover cubic-bezier(0.4, 0, 0.2, 1);
    
    .customers-link:hover &,
    .customers-link:focus & {
        fill: $accent-color;
    }
}

.customers-item {
    &:not(:last-child) {
        margin-right: 30px;
    }
}

