.btn-list {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.btn-item:not(:last-child) {
    margin-right: 8px;
}
