.footer-social {
    display: flex;
    flex-direction: column;
    margin-right: 93px;
}

.social-title,
.submit-title {
    margin-bottom: 20px;
    @include text();
    text-transform: uppercase;
    color: $social-icon-dark-theme;
}

.social-list {
    display: flex;
    align-items: flex-start;
    
    .team-list & {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
}

.social-list-item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: background-color $time-hover cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}


.social-list-icon {
    width: 20px;
    height: 20px;

    transition: fill $time-hover cubic-bezier(0.4, 0, 0.2, 1);
    
    .social-list-link:hover &,
    .social-list-link:focus & {
        fill: $social-icon-dark-theme;
    }
}

.social-dark-theme {
    fill: $social-icon-dark-theme;
}

.social-light-theme {
    fill: $social-icon-light-theme;
}


