.hero-title {
    @include text($fw:900, $fs:44px, $lh:1.36, $ls:0.06em);
    max-width: 710px;
    text-align: center;
    text-transform: uppercase;
    color: $hero-title-color;
    margin-bottom: 30px;
}

.we-doing-title,
.team-title,
.customers-title {
    @include text($fs:36px, $lh:1.17);
    text-align: center;
    color: $title-color;
    margin-bottom: 50px;
}
